body {
  padding: auto;
  display: block;
  background-color: red;
}

.ylapalkki {
  text-align: center;
  justify-content: center;
  width: 100%;
  padding: auto;
  background-color: aqua;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  gap: 20px; /* väli linkkien väliin, valinnainen */
  padding: 10px;
}

.nav-link {
  text-align: center;
}


.App {
  margin: auto;
  text-align: center;
  width: max-content;
}

#userTable {
  margin: auto;
}

.message {
  background: lightgrey;
  font-size: 36px;
  font-weight: bold;
  border: 3px solid;
  border-radius: 5px;
  padding: 10px;
  margin: 10% auto 10px auto;
  width: 70%;
}

.message.neg {
  color: red;
}

.message.pos {
  color: green;
}

.customerDetails {
  background-color: chocolate;
  border: solid;
  width: 80%;
  max-width: 800px;
  margin: 0 auto 50px auto;
  border-radius: 30px;
  padding: 0 10%;
}

.posts {
  margin: 0 auto 2% auto;
  background-color: aqua;
  max-width: 70%;
  border-radius: 20px;
  border: 1px solid blueviolet;
}

.nappi {
  border-radius: 10px;
  margin-left: 10px;
  font-size: 26px;
  background-color: chocolate;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #054ddb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editlabel {
  color: rgb(30, 161, 236);
  padding: 120px;
}